assets/factory/** filter=lfs diff=lfs merge=lfs -text
assets/mefron/** filter=lfs diff=lfs merge=lfs -text
mantra?scanner/** filter=lfs diff=lfs merge=lfs -text
robots/franka_panda/** filter=lfs diff=lfs merge=lfs -text
robots/ur10_suction/** filter=lfs diff=lfs merge=lfs -text
robots/grippers/** filter=lfs diff=lfs merge=lfs -text
